{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="row">  
            <h3 class="cred">Reset your password</h3>
        </div>
        <div class="row">
            <div class="col-6" style="margin-left: 280px; margin-top: 30px;">
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 140px; margin-left: 450px;">
        Copyright &copy 2021
    </div>
{% endblock %}