{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Password Changed
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <h3 style="text-align: center;">Password Changed</h3>
        <div class="col-6" style="margin-left: 280px; margin-top: 30px;">
            <p style="text-align: center;">Your password has been successfully changed</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 170px; margin-left: 450px;">
    Copyright &copy 2021
</div>
{% endblock %}